.shop{
  width: 100%;
  height: 100vh;
}

.main{
  display: flex;
  min-height: calc(100vh - 80px);
  background-color: var(--bg-secondary);
  flex: 1;
}

.mainWrapper{
  display: flex;
  flex: 1;
}

.store{
  display: flex;
  flex: 1;
}

.cartSidebar{
  display: flex;
  flex: 0 0 350px;
  background-color: #e7e9e9;
  padding: 20px 15px;  
  position: sticky;
  top: 20px;
  align-self: flex-start;  /* Запрещает  растягивать блок по высоте */
  height: fit-content;
}
