.shopLayout{
  width: 100%;
  display: flex;
  background-color: var(--bg-color);
  flex: 1; 
  overflow: hidden;
  flex-direction: column;
}

.store{
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}

.contentArea{
  flex: 1 1 auto; 
  display: flex;  
  flex-direction: column;
}

@media (max-width: 1023px){
  .store{
    flex-direction: column;   
  }

  .contentArea{
    width: 100%;
  }
}