.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px;
  width: 100%; 
  font-size: 24px;
  flex: 0 0 70px;
}

.logoName{
  cursor: pointer;
  font-weight: 500;
}

.logoSymbol{
  display: flex;
  align-items: center;
}
.account{
  display: flex;
  align-items: center;
  font-style: 16px;
  font-weight: 500;
  color: var(--text-main);
}

.accountBtn{
  width: 34px;
  height: 34px;
  margin-right: 5px;
}

/* -----------input-search---------------- */

.searchForm{
  flex: 1 1 auto;      
  max-width: 400px;   
  margin: 0 auto;
}

.searchForm{
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  padding: 8px 12px;
}

.searchWrapper{
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 100%;
}

.searchWrapper input{
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  margin-left: 8px;
  padding: 8px 12px;
}

/* ------------------userActions ----------------------*/


.userActions{
  display: flex;
  align-items: center;
}

.cartIcon{
  font-size: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.cartIconWrapper{
  position: relative;
}

.totalCountWrapper{
  position: absolute;
  top: -6px;   
  right: 8px;
  background-color: var(--cartSpan);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.totalCount{
  display: block;
  line-height: 1;
  color: var(--bg-color);
  font-size: 11px;
  font-weight: bold;
}

/*---------- media----------------- */

@media (max-width: 1023px){
  .landingLeft >h1{
    font-size: 30px;
  } 
}

@media (max-width: 768px){
  .headerContainer {
    padding: 10px;
  }

  .searchForm{
    flex: 1 1 auto;
    min-width: 120px;
  }
  .accountIcon{
    display: none;
  }

}

